@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  color: #4b4b4b;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
}

a,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}

.text-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .text-16 {
    font-size: 14px;
  }
}

.h2 {
  margin: 0 0 70px;
  color: #4b4b4b;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 98px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

.button {
  padding: 21px 93px 20px 26px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  background: url(../assets/button-blue.svg) right center no-repeat;
  transition: all ease-in-out 0.15s;
  will-change: transform;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.03);
}
.button:active {
  transform: scale(0.97);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: #0077de;
}
.header .container {
  position: relative;
  padding: 0;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 48px 199px 43px 99px;
  background: url(../assets/button-white.svg) right center no-repeat;
  background-size: auto 165px;
}
.header__logo-link {
  display: flex;
  align-items: center;
  gap: 21px;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 43px;
  padding: 12px 98px 13px;
  border-bottom: 1px solid #ffffff;
}
.header__info-hotline, .header__info-account, .header__info-phone {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__info-hotline::before, .header__info-account::before, .header__info-phone::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.header__info-hotline::before {
  background-image: url(../assets/icons/hotline.svg);
}
.header__info-account::before {
  background-image: url(../assets/icons/account.svg);
}
.header__info-phone::before {
  background-image: url(../assets/icons/phone.svg);
}
.header__info-search {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: none;
  background: url(../assets/icons/search.svg) center no-repeat;
  cursor: pointer;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  padding: 0 98px;
}
.header__nav-link {
  display: inline-block;
  padding: 32px 0 28px;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 4px solid #0077de;
  transition: all ease-in-out 0.15s;
}
.header__nav-link:hover {
  border-bottom: 4px solid #ffffff;
}
.header__nav-burger {
  display: inline-block;
  width: 33px;
  height: 19px;
  border: none;
  background: url(../assets/icons/burger.svg) center no-repeat;
  cursor: pointer;
}

.first-screen {
  background: url(../assets/first-screen-bg.jpg) center no-repeat;
}
.first-screen .container {
  position: relative;
  padding-top: 375px;
  min-height: 1000px;
}
.first-screen .container::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  display: block;
  width: 707px;
  height: 164px;
  background: url(../assets/button-white.svg) right center no-repeat;
  background-size: auto 164px;
  transform: rotate(180deg);
}
.first-screen__title {
  max-width: 646px;
  margin: 0 0 50px;
  color: #ffffff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.first-screen__description {
  max-width: 588px;
  margin: 0 0 50px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.first-screen__buttons {
  max-width: 646px;
}

.about {
  background-color: #ffffff;
}
.about .container {
  padding-top: 124px;
  padding-bottom: 56px;
  background: url(../assets/about-bg.png) right center no-repeat;
  background-size: auto 100%;
}
.about__title {
  max-width: 788px;
  margin: 0 0 50px;
}
.about__description {
  max-width: 790px;
  margin: 0 0 50px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.about__employees {
  display: flex;
  align-items: center;
  gap: 32px;
}
.about__employees-count {
  color: #00c7b1;
  font-size: 117px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.about__employees-text {
  display: inline-block;
  max-width: 246px;
  color: #4b4b4b;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}