@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  color: #4b4b4b;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
}

a,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}

.text-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .text-16 {
    font-size: 14px;
  }
}

.h2 {
  margin: 0 0 70px;
  color: #4b4b4b;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 98px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

.button {
  padding: 21px 93px 20px 26px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  background: url(../assets/button-blue.svg) right center no-repeat;
  background-size: auto 100%;
  transition: all ease-in-out 0.15s;
  will-change: transform;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.03);
}
.button:active {
  transform: scale(0.97);
}

.form-floating {
  position: relative;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: 82px;
  min-height: 82px;
  line-height: 1.25;
  box-sizing: border-box;
  color: #828282;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  background-color: #f6f6f6;
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  padding: 13px 30px;
  overflow: hidden;
  color: #828282;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: 0 solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 13px 30px;
}
.form-floating > .form-control::-ms-input-placeholder, .form-floating > .form-control-plaintext::-ms-input-placeholder {
  color: transparent;
}
.form-floating > .form-control::placeholder,
.form-floating > .form-control-plaintext::placeholder {
  color: transparent;
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
  padding-top: 13px;
  padding-bottom: 13px;
}
.form-floating > .form-control:-webkit-autofill,
.form-floating > .form-control-plaintext:-webkit-autofill {
  padding-top: 13px;
  padding-bottom: 13px;
}
.form-floating > .form-select {
  padding-top: 13px;
  padding-bottom: 13px;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
  color: rgba(130, 130, 130, 0.65);
  transform: scale(0.85) translateY(-4px) translateX(2.4px);
}
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
  position: absolute;
  inset: 13px 15px;
  z-index: -1;
  height: 1.5em;
  content: "";
  border-radius: 0;
}
.form-floating > .form-control:-webkit-autofill ~ label {
  color: #f6f6f6;
  transform: scale(0.85) translateY(-4px) translateX(2.4px);
}
.form-floating > .form-control-plaintext ~ label {
  border-width: 0;
}
.form-floating > :disabled ~ label,
.form-floating > .form-control:disabled ~ label {
  color: #00c7b1;
}
.form-floating > :disabled ~ label::after,
.form-floating > .form-control:disabled ~ label::after {
  background-color: #f6f6f6;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: #0077de;
}
.header .container {
  position: relative;
  padding: 0;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 48px 199px 43px 99px;
  background: url(../assets/button-white.svg) right center no-repeat;
  background-size: auto 165px;
}
.header__logo-link {
  display: flex;
  align-items: center;
  gap: 21px;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 43px;
  padding: 12px 98px 13px;
  border-bottom: 1px solid #ffffff;
}
.header__info-hotline, .header__info-account, .header__info-phone {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__info-hotline::before, .header__info-account::before, .header__info-phone::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.header__info-hotline::before {
  background-image: url(../assets/icons/hotline.svg);
}
.header__info-account::before {
  background-image: url(../assets/icons/account.svg);
}
.header__info-phone::before {
  background-image: url(../assets/icons/phone.svg);
}
.header__info-search {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: none;
  background: url(../assets/icons/search.svg) center no-repeat;
  cursor: pointer;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  padding: 0 98px;
}
.header__nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header__nav-menu-item {
  position: relative;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}
.header__nav-menu-item:hover {
  border-bottom: 4px solid #ffffff;
}
.header__nav-submenu {
  position: absolute;
  top: calc(100% + 4px);
  left: -32px;
  display: none;
  padding: 25px 48px 34px 32px;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  list-style-type: none;
  background-color: #0066be;
}
.header__nav-submenu-item a {
  display: inline-block;
  padding: 11px 0;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  transition: all ease-in-out 0.15s;
}
.header__nav-submenu-item a:hover {
  transform: translateX(16px);
}
.header__nav-menu-item:hover .header__nav-submenu {
  display: block;
}
.header__nav-menu-item:last-child .header__nav-submenu {
  left: auto;
  right: -32px;
}
.header__nav-link {
  display: inline-block;
  padding: 32px 0 28px;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transition: all ease-in-out 0.15s;
}
.header__nav-burger {
  display: inline-block;
  width: 33px;
  height: 19px;
  border: none;
  background: url(../assets/icons/burger.svg) center no-repeat;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.header__nav-burger.active {
  background-image: url(../assets/icons/close.svg);
}

.footer .container {
  position: relative;
  padding: 0;
}
.footer__sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1050px;
  padding-top: 70px;
  padding-left: 98px;
  box-sizing: border-box;
  background: url(../assets/footer-sidebar-bg.svg) top right no-repeat;
  background-size: auto 100%;
}
.footer__sidebar-logo-link {
  display: inline-block;
}
.footer__sidebar-logo-image {
  max-width: 100%;
  height: auto;
}
.footer__sidebar-address, .footer__sidebar-email {
  max-width: 420px;
  color: #4b4b4b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.footer__sidebar-addres {
  max-width: 412px;
}
.footer__sidebar-email a {
  color: #0077de;
  text-decoration-line: underline;
}
.footer__sidebar-social {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__sidebar-social-vk, .footer__sidebar-social-tg {
  flex: 0 0 30px;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__sidebar-social-vk {
  background-image: url(../assets/icons/vk.svg);
}
.footer__sidebar-social-tg {
  background-image: url(../assets/icons/tg.svg);
}
.footer__sidebar-copyrights {
  color: #4b4b4b;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.footer__info {
  display: flex;
  justify-content: flex-end;
  padding: 72px 98px 68px;
  background-color: #e6e6e6;
}
.footer__info-content {
  flex: 0 0 770px;
  display: flex;
  gap: 128px;
  padding-left: 37px;
  box-sizing: border-box;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__nav-link {
  color: #828282;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer__contacts > * {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #828282;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
}
.footer__contacts > *::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.footer__contacts-hotline::before {
  background-image: url(../assets/icons/hotline-grey.svg);
}
.footer__contacts-account {
  padding: 0;
  border: none;
}
.footer__contacts-account::before {
  background-image: url(../assets/icons/account-grey.svg);
}
.footer__contacts-phone::before {
  background-image: url(../assets/icons/phone-grey.svg);
}
.footer__contacts-app {
  max-width: 260px;
  margin-top: 46px;
}
.footer__contacts-app::before {
  background-image: url(../assets/icons/app-grey.svg);
}
.footer__bottom {
  display: flex;
  justify-content: flex-end;
  padding: 51px 98px;
  background-color: #d7d7d7;
}
.footer__bottom-content {
  flex: 0 0 770px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 37px;
  box-sizing: border-box;
}
.footer__bottom-link {
  flex: 0 0 auto;
  color: #828282;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}
.footer__bottom-link_developer {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 16px;
  padding-left: 18px;
}
.footer__bottom-link_developer img {
  flex: 0 0 auto;
}

.first-screen {
  background: url(../assets/first-screen-bg.jpg) center no-repeat;
}
.first-screen .container {
  position: relative;
  padding-top: 375px;
  min-height: 1000px;
}
.first-screen .container::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  display: block;
  width: 707px;
  height: 164px;
  background: url(../assets/button-white.svg) right center no-repeat;
  background-size: auto 164px;
  transform: rotate(180deg);
}
.first-screen__title {
  max-width: 646px;
  margin: 0 0 50px;
  color: #ffffff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.first-screen__description {
  max-width: 588px;
  margin: 0 0 50px;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.first-screen__buttons {
  max-width: 646px;
}

.about {
  background-color: #ffffff;
}
.about .container {
  padding-top: 124px;
  padding-bottom: 56px;
  background: url(../assets/about-bg.png) right center no-repeat;
  background-size: auto 100%;
}
.about__title {
  max-width: 788px;
  margin: 0 0 50px;
}
.about__description {
  max-width: 790px;
  margin: 0 0 50px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.about__employees {
  display: flex;
  align-items: center;
  gap: 32px;
}
.about__employees-count {
  color: #00c7b1;
  font-size: 117px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.about__employees-text {
  display: inline-block;
  max-width: 246px;
  color: #4b4b4b;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.advantages {
  padding: 28px 0;
  background-color: #f6f6f6;
}
.advantages__cards {
  display: flex;
}
.advantages__card {
  padding: 12px 83px;
  border-right: 3px solid #e6e6e6;
}
.advantages__card:first-child {
  padding-left: 0;
}
.advantages__card:last-child {
  padding-right: 0;
  border: none;
}
.advantages__card-title {
  margin: 0;
  color: #0077de;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.advantages__card-text {
  margin: 0;
  color: #4b4b4b;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.solutions {
  padding: 100px 0 50px;
  background-color: #ffffff;
}
.solutions__title {
  margin: 0 0 70px;
}
.solutions__cards {
  position: relative;
}
.solutions__cards .swiper-button-prev, .solutions__cards .swiper-button-next {
  height: 33px;
  width: 33px;
  background: url(../assets/icons/arrow.svg) center no-repeat;
}
.solutions__cards .swiper-button-prev::after, .solutions__cards .swiper-button-next::after {
  display: none;
}
.solutions__cards .swiper-button-prev {
  left: -63px;
}
.solutions__cards .swiper-button-next {
  right: -63px;
  transform: rotate(180deg);
}
.solutions__card {
  position: relative;
  height: 600px;
}
.solutions__card-figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.solutions__card-figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.solutions__card-text {
  position: absolute;
  top: 409px;
  z-index: 2;
  display: flex;
  gap: 21px;
  max-width: 293px;
  padding-right: 20px;
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.solutions__card-text::before {
  content: "";
  display: block;
  width: 32px;
  height: 74px;
  background-color: #0077de;
}
.solutions__card-text_secondary::before {
  width: 32px;
  height: 74px;
  background-color: #00c7b1;
}

.technologies {
  padding: 50px 0;
  background-color: #ffffff;
}
.technologies__title {
  margin: 0 0 70px;
}
.technologies__cards {
  position: relative;
  margin: 0 -98px;
}
.technologies__cards-controls {
  position: absolute;
  bottom: -1px;
  left: calc(99px + 76.5%);
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 34px 58px 34px 134px;
  transform: translateX(-100%);
}
.technologies__cards-controls::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url(../assets/button-white.svg) top right no-repeat;
  background-size: auto 100%;
  transform: rotate(180deg);
}
.technologies__cards-controls .swiper-button-prev, .technologies__cards-controls .swiper-button-next {
  position: static !important;
  display: block;
  width: 33px;
  height: 33px;
  margin: 0;
  background: url(../assets/icons/arrow.svg) center no-repeat;
  transform: none;
}
.technologies__cards-controls .swiper-button-prev::after, .technologies__cards-controls .swiper-button-next::after {
  display: none;
}
.technologies__cards-controls .swiper-button-next {
  transform: rotate(180deg);
}
.technologies__cards-controls .swiper-pagination {
  position: static !important;
  display: flex;
  gap: 15px;
  width: auto !important;
}
.technologies__cards-controls .swiper-pagination-bullet {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 !important;
  box-sizing: border-box;
  border: 3px solid #0077de;
  border-radius: 0;
  background-color: #ffffff;
  opacity: 1;
}
.technologies__cards-controls .swiper-pagination-bullet-active {
  border-color: #00c7b1;
}
.technologies__card {
  position: relative;
  min-height: 600px;
  background-color: #00c7b1;
}
.technologies__card-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  min-height: inherit;
  margin: 0;
  padding: 0;
  background-color: #0077de;
}
.technologies__card-image img {
  display: block;
  width: 100%;
  min-height: inherit;
  object-fit: cover;
}
.technologies__card-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(215, 215, 215, 0.8);
  transition: all ease-in-out 0.15s;
}
.technologies__card-content {
  position: relative;
  z-index: 2;
  padding: 107px 83px 0;
}
.technologies__card-title {
  max-width: 764px;
  min-height: 76px;
  margin: 0 0 40px;
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}
.technologies__card-advantages {
  display: flex;
  flex-direction: column;
  gap: 26px;
  min-height: 220px;
  margin: 0 0 50px;
}
.technologies__card-advantage {
  display: flex;
  align-items: center;
  gap: 16px;
}
.technologies__card-advantage-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.technologies__card-advantage-text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.technologies__card-buttons .button {
  padding: 22px 160px 21px 42px;
  background-image: url(../assets/button-white.svg);
  color: #d7d7d7;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  transition: all ease-in-out 0.15s;
}
.technologies .swiper-slide-active .technologies__card-image::before {
  background-color: rgba(0, 119, 222, 0.8);
}
.technologies .swiper-slide-active .technologies__card-buttons .button {
  color: #0077de;
}

.priorities {
  padding: 50px 0;
  background-color: #ffffff;
}
.priorities .container {
  display: flex;
}
.priorities__figure {
  flex: 0 1 50%;
  margin: 0;
  padding: 0;
}
.priorities__figure img {
  display: inline-block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.priorities__info {
  flex: 0 1 50%;
  padding: 90px;
  box-sizing: border-box;
  background-color: #f6f6f6;
}
.priorities__title {
  margin: 0 0 50px;
  text-transform: uppercase;
}
.priorities__description {
  margin: 0 0 50px;
  color: #4b4b4b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.priorities__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.priorities__list-item {
  display: flex;
  gap: 20px;
}
.priorities__list-item-count {
  color: #00c7b1;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.priorities__list-item-text {
  display: inline-block;
  padding-top: 10px;
  color: #4b4b4b;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.consultation {
  padding: 50px 0 100px;
  background-color: #ffffff;
}
.consultation__title {
  margin: 0 0 47px;
}
.consultation__description {
  max-width: 976px;
  margin: 0 0 67px;
  color: #4b4b4b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.consultation__form-fieldset {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  border: none;
}
.consultation__form-fieldset .form-floating {
  flex: 1 1 auto;
}
.consultation__form-fieldset .form-floating .form-control {
  width: 100%;
}
.consultation__form-fieldset .button {
  flex: 0 0 auto;
  padding: 29px 139px 32px 37px;
  font-size: 18px;
  line-height: 21px;
}
.consultation__form-checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 60px;
}
.consultation__form-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.consultation__form-checkbox-checkmark {
  content: "";
  display: block;
  width: 25px;
  height: 21px;
  background: url(../assets/checkbox.svg) center no-repeat;
}
.consultation__form-checkbox input:checked ~ .consultation__form-checkbox-checkmark {
  background-image: url(../assets/checkbox-checked.svg);
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateY(-2000px);
  transition: transform ease-in-out 0.4s;
  will-change: transform;
}
.main-menu.active {
  transform: translateY(40px);
}
.main-menu .container {
  display: flex;
  padding: 0;
}
.main-menu__sidebar {
  flex: 0 0 492px;
  display: flex;
  align-items: flex-end;
  min-height: 755px;
  padding: 98px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  background-color: #00c7b1;
  background-image: url(../assets/menu-bg.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
}
.main-menu__menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
  padding: 162px 90px 100px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}
.main-menu__menu-block {
  flex: 1 1 auto;
}
.main-menu__menu-block:last-child {
  padding-right: 100px;
}
.main-menu__menu-title {
  margin: 0 0 24px;
  color: #4b4b4b;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.main-menu__menu-title a {
  color: #4b4b4b;
}
.main-menu__menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-menu__menu-list-link {
  color: #4b4b4b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 250%;
  transition: all ease-in-out 0.15s;
}
.main-menu__menu-list-link:hover {
  color: #00c7b1;
}