// colors

$white: #ffffff;
$black: #4b4b4b;
$blue: #0077de;
$green: #00c7b1;
$grey100: #f6f6f6;
$grey200: #e6e6e6;
$grey300: #d7d7d7;
$grey800: #828282;

// transition

$baseTransition: all ease-in-out 0.15s;
