.about {
  background-color: $white;

  & .container {
    padding-top: 124px;
    padding-bottom: 56px;
    background: url(../assets/about-bg.png) right center no-repeat;
    background-size: auto 100%;
  }

  &__title {
    max-width: 788px;
    margin: 0 0 50px;
  }

  &__description {
    max-width: 790px;
    margin: 0 0 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__employees {
    display: flex;
    align-items: center;
    gap: 32px;

    &-count {
      color: $green;
      font-size: 117px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    &-text {
      display: inline-block;
      max-width: 246px;
      color: $black;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
  }
}
