.first-screen {
  background: url(../assets/first-screen-bg.jpg) center no-repeat;

  & .container {
    position: relative;
    padding-top: 375px;
    min-height: 1000px;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      right: 0;
      display: block;
      width: 707px;
      height: 164px;
      background: url(../assets/button-white.svg) right center no-repeat;
      background-size: auto 164px;
      transform: rotate(180deg);
    }
  }

  &__title {
    max-width: 646px;
    margin: 0 0 50px;
    color: $white;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__description {
    max-width: 588px;
    margin: 0 0 50px;
    color: $white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__buttons {
    max-width: 646px;
  }
}
