.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $blue;

  & .container {
    position: relative;
    padding: 0;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: fit-content;
    padding: 48px 199px 43px 99px;
    background: url(../assets/button-white.svg) right center no-repeat;
    background-size: auto 165px;

    &-link {
      display: flex;
      align-items: center;
      gap: 21px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 43px;
    padding: 12px 98px 13px;
    border-bottom: 1px solid $white;

    &-hotline,
    &-account,
    &-phone {
      display: flex;
      align-items: center;
      gap: 16px;
      color: #fff;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
      }
    }

    &-hotline {
      &::before {
        background-image: url(../assets/icons/hotline.svg);
      }
    }

    &-account {
      &::before {
        background-image: url(../assets/icons/account.svg);
      }
    }

    &-phone {
      &::before {
        background-image: url(../assets/icons/phone.svg);
      }
    }

    &-search {
      display: inline-block;
      width: 28px;
      height: 28px;
      border: none;
      background: url(../assets/icons/search.svg) center no-repeat;
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding: 0 98px;

    &-link {
      display: inline-block;
      padding: 32px 0 28px;
      color: $white;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      border-bottom: 4px solid $blue;
      transition: $baseTransition;

      &:hover {
        border-bottom: 4px solid $white;
      }
    }

    &-burger {
      display: inline-block;
      width: 33px;
      height: 19px;
      border: none;
      background: url(../assets/icons/burger.svg) center no-repeat;
      cursor: pointer;
    }
  }
}
