$form-floating-height: 82px !default;
$form-floating-line-height: 1.25 !default;
$form-floating-padding-x: 30px !default;
$form-floating-padding-y: 13px !default;
$form-floating-input-padding-t: 13px !default;
$form-floating-input-padding-b: 13px !default;
$form-floating-label-height: 1.5em !default;
$form-floating-label-opacity: 0.65 !default;
$form-floating-label-transform: scale(0.85) translateY(-4px) translateX(2.4px) !default;
$form-floating-label-disabled-color: $green !default;
$form-floating-transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out !default;

.form-floating {
  position: relative;

  > .form-control,
  > .form-control-plaintext,
  > .form-select {
    height: $form-floating-height;
    min-height: $form-floating-height;
    line-height: $form-floating-line-height;
    box-sizing: border-box;
    color: $grey800;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    outline: none;
    background-color: $grey100;
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: $form-floating-padding-y $form-floating-padding-x;
    overflow: hidden;
    color: $grey800;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 0 solid transparent;
    transform-origin: 0 0;
    transition: $form-floating-transition;
  }

  > .form-control,
  > .form-control-plaintext {
    padding: $form-floating-padding-y $form-floating-padding-x;

    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }
 
    &:-webkit-autofill {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }
  }

  > .form-select {
    padding-top: $form-floating-input-padding-t;
    padding-bottom: $form-floating-input-padding-b;
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-control-plaintext,
  > .form-select {
    ~ label {
      color: rgba($color: $grey800, $alpha: $form-floating-label-opacity);
      transform: $form-floating-label-transform;

      &::after {
        position: absolute;
        inset: $form-floating-padding-y ($form-floating-padding-x * 0.5);
        z-index: -1;
        height: $form-floating-label-height;
        content: "";
        border-radius: 0;
      }
    }
  }

  > .form-control:-webkit-autofill {
    ~ label {
      color: rgba($color: $grey100, $alpha: 1);
      transform: $form-floating-label-transform;
    }
  }

  > .form-control-plaintext {
    ~ label {
      border-width: 0;
    }
  }

  > :disabled ~ label,
  > .form-control:disabled ~ label {
    color: $form-floating-label-disabled-color;

    &::after {
      background-color: $grey100;
    }
  }
}
